/*
Theme Name: Portfolio
*/
/*________________________________________ GENERAL ________________________________________*/

body {
  font-family: roboto;
}
.white {
  color:white;
}
p {
  font-size: 12pt;
  line-height: 23pt;
}
/*________________________________________ NAVBAR ________________________________________*/

.current-menu-item a {
  border: 1px solid #ccc!important;
padding:5px 15px;

}
.nav li a {
  color:black;
  font-weight:400;
  padding:20px;
  margin:10px;
border: 1px solid #fff;

}

.nav>li>a:hover {
background-color:#fff;
}
.navbar {
  background-color: #fff;
}

.nav li a:hover {
  color:#337ab7;
}

.navbar-brand {
  height:auto;
}
.navbar-toggle {
  height:80px;
  margin:0 15 0 0 ;
}
.contactAnchorJS a {
border:none!important;
}

/*________________________________________ BANNER ________________________________________*/
.vertical-center {
  position:relative;
  background-color: white;
  min-height:100%;
  min-height:100vh;
  text-align: center;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}
.intro {
  margin-top: 25px;
  line-height:30pt;
}
/*________________________________________ PROJECTS ________________________________________*/
/*For anchor tag*/
.portfolio {
  display:block;
  position: relative;
  top:-80px;
}

#projects img {
  border-radius: 3px;
  transition:0.5s;
}
#portfolio {
  background-color:#fff;
}

#projects {
  margin: 50px 0px;
}
#projects h4 {
  margin-top: 20px;
}

.item {
  margin: 15px 0px;
}

.item h4 {
  color:white;
}

/* Image zoon */
figure.zoom-img {
  border-radius: 3px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.25);
}
figure.zoom-img img {
  opacity: 1;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}
figure.zoom-img:hover img {
  opacity: 0.8;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*________________________________________ PORTFOLIO ________________________________________*/

#projectsPage {
  margin: 80px 0px;
}

/*________________________________________ CONTACT ________________________________________*/
.contact {
  display:block; 
  position: relative;
  top:-80px;
}

#contact {
  padding: 80px 0px;
  background-color: #eee;

}

#contact h3 {
    font-size: 21px;
    line-height: 25pt;
}
.btn-primary {
  width:auto!important;
  padding: 14px 25px!important;
  background-color: #333;
  border: none;
  margin-top:0px;

}
.btn-primary:hover {
  background-color: #444;

}
.btn-primary:focus, .btn-primary:active {
  background-color: #555!important;

}

input, textarea {
  margin: 10px 0;
  border-radius: 0px;
  border: none!important;
  padding:25px !important;
  width:100%!important;
}
.socialIcon {
  margin:30px 15px 0px 0px;
  color:#white;
  border: 1px solid #333;
  padding: 15px;
  background-color: #333;
  border-radius: 100px;
}

/*________________________________________ FOOTER1 (Homepage) ________________________________________*/
#footer1 {
  padding:30px;
  background-color: #333;
  position: relative;
  color:white;
}
#footer1:before {
    background: linear-gradient(-154deg, #eee 20px, transparent 0), linear-gradient(154deg, #eee 20px, transparent 0);
    background-position: center;
    background-repeat: repeat-x;
    background-size: 30px 30px;
    content: " ";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
}

#footer1 .fa, #footer1 img {
  margin:30px 10px;
}

/*________________________________________ FOOTER ________________________________________*/
#footer {
  padding:30px;
  background-color: #333;
  position: relative;
  color:white;
}
#footer:before {
    background: linear-gradient(-154deg, #fff 20px, transparent 0), linear-gradient(154deg, #fff 20px, transparent 0);
    background-position: center;
    background-repeat: repeat-x;
    background-size: 30px 30px;
    content: " ";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
}

#footer .fa, #footer img {
  margin:30px 10px;
}
/*________________________________________ About ________________________________________*/

.title {
float:left;
}

.year {
float:right;
color:#bbb;
}

.aboutPage {
  margin-top: 90px;
}

.titleAbout {

  padding-top: 40px;
}

.me {
  margin-right: 40px;
  float:left;
}
.meIntro {
  margin: 100px 0px;
}
.introText {
  margin: 80px 0px;
}

.experience, .education {
  padding-bottom: 30px;
}


/*________________________________________ Portfolio ________________________________________*/

.embed-responsive {
	margin-bottom:20px;
}



/*________________________________________ Media queries ________________________________________*/
@media screen and (max-width:500px) { //mobile
	.portfolio {
	top: -20px;
}
.contact {
top: 0px;
}

.socialButtons {
	text-align: center;
margin-bottom: 50px;
}
.titleAbout h1, .titleAbout h3, .introText p, .contactText h1, .contactText h3 {
text-align:center;
}
.experience h3, .education h3 {
float:none;
}
.introText {
margin-top:20px;
}

.meIntro {
margin-bottom: 20px;
}

.me {
display:block;
margin: 0 auto;
float:none;
}


}
